<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSharp_sqlServer_Connection.Properties.Settings.Setting"
            connectionString="Data Source=BOBSWIN7\SQLEXPRESS;Initial Catalog=&quot;C:\FTCCBUSINESSCENTER _SQLSERVER\FTCCDATAFILESQL.MDF&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>